

#i {
    margin-bottom: 120px;
    justify-content: center;
    text-align: center;
    position: relative;
    top: 50%;
    left: 15%;
  }

  body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Raleway", sans-serif;
  }

#h{

    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

  
#m{
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
  
.card-body {
    justify-content: center;
    align-items: center;
    padding: 40px 20px 20px 20px ;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
  

.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    justify-content: center;
    align-items: left;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}

.form-control {
    border-bottom: 2px solid #eee !important;
    border: none;
    font-weight: 600
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid blue !important
}

.inputbox {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}

.inputbox span {
    position: absolute;
    top: 7px;
    left: 11px;
    transition: 0.5s
}

.inputbox i {
    position: absolute;
    top: 13px;
    right: 8px;
    transition: 0.5s;
    color: #3F51B5
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.inputbox input:focus~span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.inputbox input:valid~span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}




